$spMax: 519px;
$spMin: 320px;
$tbMax: 1024px;
$tbMin: 520px;
$pcMin: 1025px;
$font_families: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;


@media screen and (min-width: $spMin) and (max-width: $spMax) {
  .footer-page {
    font-size: calc(100vw / 32);
    background-color: #FC9F4D;
    position: sticky;
    bottom: 0%;
    .footer-logo {
      height: 4em;
      display: flex;
      .footer-name {
        margin: auto;
        color: #FFFFFB;
        font-family: 'Philosopher', $font_families;
      }
    }
  }
}
  

@media screen and (min-width: $tbMin) and (max-width: $tbMax) {

}

@media screen and (min-width: $pcMin) {
  .footer-page {
    font-size: calc(100vw / 96);
    background-color: #FC9F4D;
    position: sticky;
    bottom: 0%;
    .footer-logo {
      height: 4.5em;
      display: flex;
      .footer-name {
        margin: auto;
        color: #FFFFFB;
        font-family: 'Philosopher', $font_families;
      }
    }
  }
}