
$spMax: 519px;
$spMin: 320px;
$tbMax: 1024px;
$tbMin: 520px;
$pcMin: 1025px;

@media screen and (min-width: $spMin) and (max-width: $spMax) {
  .footer-page {
    font-size: calc(100vw / 32);
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background: #FC9F4D;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-logo {
      p {
        font-family: 'Philosopher', sans-serif;
      }
    }
  }
}
  

@media screen and (min-width: $tbMin) and (max-width: $tbMax) {

}

@media screen and (min-width: $pcMin) {

}