$spMax: 519px;
$spMin: 320px;
$tbMax: 1024px;
$tbMin: 520px;
$pcMin: 1025px;
$header-color: #FFBA84;
$font_families: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;

@media screen and (min-width: $spMin) and (max-width: $spMax) {
  .header-page {
    font-size: calc(100vw / 32);
    background: $header-color;
    display: flex;
    position: sticky;
    align-items: center;
    height: auto;
    z-index: 100;
    top: 0em;

    .header-logo {
      margin: 1em 1em;

      .header-logo-top {
        text-decoration: none;

        .header-app-name {
          font-family: 'Philosopher', $font_families;
          color: #64363C;
          font-size: 1.5em;
        }
      }
    }
    .header-search-trigger {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      align-items: center;
      font-family: "游ゴシック体", $font_families;
      margin-left: auto;
      width: 4em;

      .icon-size {
        color: #E98B2A;
        background-color: white;
        height: 3em;
        width: 3em;
        padding: .65em;
        border: solid #E98B2A;
        border-radius: 50%;
      }
      .header-search-name {
        color: #0F2540;
        font-size: .8em;
      }
    }

    .header-search {
      display: none;
    }

    .header-search.show {
      display: flex;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
      width: 100%;
      top: 0%;
      
      .header-search-content {
        background-color: white;
        padding: 0.3em;
        border: 0.2em solid #B47157;
        border-radius: 20px;
        margin: 1em auto;

        .icon-size {
          margin: auto .3em;
          color: #E98B2A;
        }
        .header-search-text {
          outline: none;
          border: none;
          align-items: center;
          box-shadow: 0 0 0 1000px white inset;
          font-size: 1.2em;
        }
        .header-search-button {
          outline: none;
          border: none;
          background-color: transparent;
        }
      }
    }
    .header-user-signin {
      font-family: "游ゴシック体", $font_families;
      width: 4em;
      margin: 0 1em;
      
      .header-signin-link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;

        .icon-size {
          color: #64363C;
          background-color: white;
          height: 3em;
          width: 3em;
          padding: .65em;
          border: solid #64363C;
          border-radius: 50%;
        }
        .header-signin {
          color: #0F2540;
          font-size: .8em;
        }
      }
    }
    .header-user-signup {
      font-family: "游ゴシック体", $font_families;
      width: 4em;
      margin-right: 1em;

      .header-signup-link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;

        .icon-size {
          color: #F75C2F;
          background-color: white;
          height: 3em;
          width: 3em;
          padding: .65em;
          border: solid #F75C2F;
          border-radius: 50%;
        }
        .header-signup {
          color: #0F2540;
          font-size: .8em;
        }
      }
    }
    .header-post-item {
      font-family: "游ゴシック体", $font_families;
      width: 4em;
      margin: 0 1em;

      .header-post-link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;

        .icon-size {
          color: #C18A26;
          background-color: white;
          height: 3em;
          width: 3em;
          padding: .65em;
          border: solid #C18A26;
          border-radius: 50%;
        }
        .header-new-post {
          color: #0F2540;
          font-size: .8em;
        }
      }
    }
    .header-user-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "游ゴシック体", $font_families;
      margin-right: 1em;
      width: 4em;

      .header-user-img {
        object-fit: cover;
        height: 3em;
        width: 3em;
        border-radius: 50%;
        border: solid #F75C2F;
      }
      .header-user-menu {
        text-align: center;
        color: #0F2540;
        font-size: .8em;
      }
    }
    .header-user-nav {
      position: fixed;
      pointer-events: none;
      opacity: 0;
    }

    .header-user-nav.show {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.95);
      font-family: "游ゴシック体", $font_families;
      pointer-events: auto;
      opacity: 1;
      top: 0em;
      right: 0em;

      .header-mypage-item {
        font-family: "游ゴシック体", $font_families;
        margin: 1.5em 2.5em 0 2.5em;

        .header-mypage-link {
          display: flex;
          align-items: center;
          text-decoration: none;

          .icon-size {
            color: #F75C2F;
            height: 1.7em;
            width: 1.7em;
          }
          .header-user-mypage {
            color: #0F2540;
            font-size: 1.3em;
          }
        }
      }
      .header-signout-item {
        font-family: "游ゴシック体", $font_families;
        margin: 1.5em 2.5em 1.5em 2.5em;

        .header-signout-link {
          display: flex;
          align-items: center;
          text-decoration: none;

          .icon-size {
            color: #64363C;
            height: 1.7em;
            width: 1.7em;
          }
          .header-user-signout {
            color: #0F2540;
            font-size: 1.3em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tbMin) and (max-width: $tbMax) {
  .page-header {
    font-size: calc(100vw / 52);
  }
}

@media screen and (min-width: $pcMin) {
  .header-page {
    font-size: calc(100vw / 96);
    background: $header-color;
    display: flex;
    position: sticky;
    align-items: center;
    z-index: 100;
    height: auto;
    top: 0em;
   
    .header-logo {
      margin-left: 5em;

      .header-logo-top {
        text-decoration: none;

        .header-app-name {
          font-family: 'Philosopher', $font_families;
          color: #64363C;
        }
      }
    }
    .header-search-trigger {
      display: none;
    }
    .header-search {
      display: flex;
      margin-left: auto;

      .header-search-content {
        background-color: white;
        padding: 0.3em;
        border: 0.2em solid #B47157;
        border-radius: 20px;

        .icon-size {
          margin: auto .3em;
          color: #F75C2F;
        }
        .header-search-text {
          outline: none;
          border: none;
          align-items: center;
          box-shadow: 0 0 0 1000px white inset;
          font-size: 1.2em;
        }
        .header-search-button {
          outline: none;
          border: none;
          background-color: transparent;
        }
        
      }
    }
    .header-user-signin {
      font-family: "游ゴシック体", $font_families;
      margin: 0 3em;

      .header-signin-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        text-align: center;

        .icon-size {
          color: #64363C;
          background-color: white;
          height: 3em;
          width: 3em;
          padding: .65em;
          border: solid #64363C;
          border-radius: 50%;
        }
        .header-signin {
          color: #0F2540;
          width: 4em;
        }
      }
    }
    .header-user-signup {
      font-family: "游ゴシック体", $font_families;
      margin-right: 5em;

      .header-signup-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        text-align: center;

        .icon-size {
          color: #F75C2F;
          background-color: white;
          height: 3em;
          width: 3em;
          padding: .65em;
          border: solid #F75C2F;
          border-radius: 50%;
        }
        .header-signup {
          color: #0F2540;
          width: 4em;
        }
      }
    }
    .header-post-item {
      font-family: "游ゴシック体", $font_families;
      margin: 0 3em;

      .header-post-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        text-align: center;

        .icon-size {
          color: #C18A26;
          background-color: white;
          height: 3em;
          width: 3em;
          padding: .65em;
          border: solid #C18A26;
          border-radius: 50%;
        }
        .header-new-post {
          color: #0F2540;
          width: 4em;
        }
      }
    }
    .header-user-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      font-family: "游ゴシック体", $font_families;
      margin-right: 5em;

      .header-user-img {
        object-fit: cover;
        height: 3em;
        width: 3em;
        border-radius: 50%;
        border: solid #F75C2F;
      }
      .header-user-menu {
        width: 4em;
        text-align: center;
        color: #0F2540;
      }
    }
    .header-user-nav {
      position: fixed;
      pointer-events: none;
      opacity: 0;
    }
    .header-user-nav.show {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.95);
      font-family: "游ゴシック体", $font_families;
      pointer-events: auto;
      opacity: 1;
      top: 0em;
      right: 0em;

      .header-mypage-item {
        font-family: "游ゴシック体", $font_families;
        margin: 1.5em 2.5em 0 2.5em;

        .header-mypage-link {
          display: flex;
          align-items: center;
          text-decoration: none;

          .icon-size {
            height: 1.7em;
            width: 1.7em;
          }
          .header-user-mypage {
            font-size: 1.3em;
          }
        }
      }
      .header-signout-item {
          font-family: "游ゴシック体", $font_families;
          margin: 1.5em 2.5em 1.5em 2.5em;

        .header-signout-link {
          display: flex;
          align-items: center;
          text-decoration: none;

          .icon-size {
            height: 1.7em;
            width: 1.7em;
          }
          .header-user-signout {
            font-size: 1.3em;
          }
        }
      }
    }
  }
}