$spMax: 519px;
$spMin: 320px;
$tbMax: 1024px;
$tbMin: 520px;
$pcMin: 1025px;
$header-color: #FFBA84;

@media screen and (min-width: $spMin) and (max-width: $spMax) {
  .page-header {
    font-size: calc(100vw / 32); /* width=320px: font-size=10px */
    background: $header-color;
    display: flex;
    position: sticky;
    justify-content: space-between;
    z-index: 100;
    top: 0vh;
    margin-top: 0vh;
    align-items: center;
    .header-logo {
      margin: 3vh 0vw;
      margin-left: 3vw;
      a {
        text-decoration: none;
        h2 {
          font-family: 'Philosopher', sans-serif;
          color: #64363C;
          margin: 0;
        }
      }
    }
    .main-nav {
      margin-right: 3vw;
      .top-menu {
        display: flex;
        .top-item {
          margin-left: 5vw;
          list-style: none;
          a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            .tooltip {
              margin: 0 auto;
              height: 4vh;
              width: 7vw;
              color: #F75C2F;
            }
            .tooltip.login {
              color: #64363C;
            }
            span {
              font-family: "游ゴシック体", sans-serif;
              color: #0F2540;
            }
          }
        }
      }
      .nav-content {
        display: flex;
        list-style: none;
        text-align: center;
        .user-post {
          a {
            align-items: center;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            width: auto;
            .post-size {
              height: 5vh;
              padding: 0.5vh 0.25vw;
              width: auto;
            }
            span {     
              font-family: "游ゴシック体", sans-serif;
            }
          }
        }
        .user-icon {
          margin-left: 5vw;
          .user-img {
            display: flex;    
            flex-direction: column;
            align-items: center;
            img {
              height: 5vh;
              width: 9.5vw;
              border-radius: 5em;
              object-fit: cover;
            }
          }
          span {
            font-family: "游ゴシック体", sans-serif;
           
          }
        }
      }
      .user-menu {
        background: #F7C242;
        position: absolute;
        overflow-x: hidden;
        right: 0vw;
        width: 0vw;
        z-index: 1;
        opacity: 0;
        transition: opacity .6s;
        .menu-item {
          padding: 0vw;
          margin: 3vh 3vw;
          .drop-item {
            list-style: none;
            margin: 3vh 1vw;
            opacity: 0;
            transform: translateY(10vw);
            transition: opacity .3s, transform .3s;
            a {
              text-decoration: none;
            }
          }
        }
      }
      .user-menu.show {
        text-align: center;
        opacity: 1;
        width: 100%;
        margin-top: 1vh;
        transition: opacity .6s;
        .menu-item {
          .drop-item {
            list-style: none;
            opacity: 1;
            transform: none;
            a {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tbMin) and (max-width: $tbMax) {
}

@media screen and (min-width: $pcMin) {
}