$spMax: 519px;
$spMin: 320px;
$tbMax: 1024px;
$tbMin: 520px;
$pcMin: 1025px;

$font_families: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;

@media screen and (min-width: $spMin) and (max-width: $spMax) {
  .main-content {
    font-size: calc(100vw / 32);
    .page-logo {
      img {
        position: absolute;
        top : 0;
        height: 12vh;
        width: 100%;
      }
      h1 {
        position: absolute;
        font-family: 'Philosopher', $font_families;
        top: 0;
        margin: 1vh 2vw;
        font-size: 2.5vh;
      }
    }
    .post-contents {
      font-family: "游ゴシック体", $font_families;
      margin: auto 6vw;
      display: flex;    
      flex-direction: column;

      .post-main {
        order: 2;
        .post-article {
          margin-top: 2.5vh;
          border-bottom: 0.2vh solid #F75C2F;

          .post-details {
            display: flex;
            align-items: center;
            .post-img {
              img {
                height: 9em;
                width: 11em;
                object-fit: cover;
                border-radius: 10px;
              }
            }
            
            .post-content {
              width: 100%;
              margin-left: 1em;
              display: flex;
              flex-direction: column;
              
              .post-text {
                font-size: 0.9em;
                margin-top: 0.3em;
                margin-bottom: 0%;
              }
              .post-title {
                text-align: center;
                font-feature-settings: "palt" 1;
                font-size: 1.3em;
                margin: 0.5em auto;
                
              }
              .post-category {
                text-align: center;
                font-size: 0.8em;
                margin-top: 0.25em;
                margin-bottom: 0%;
                color: #565656;
                padding: 0.1em 0.25em;
                background: #ffeaea;
                box-shadow: 0em 0em 0em 0.1em #ffeaea;
                border: dashed 0.2em #ffc3c3;
                border-radius: 8px;
              }

              
            }
          }
          .post-status {
            margin-top: 1em;
            .post-user {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .post-user-img {
                display: flex;
                img {
                  height: 3em;
                  width: 3em;
                  border-radius: 50%;
                  object-fit: cover;
                }
                .post-user-name {
                  margin: auto 0.5em;
                }
              }
              .post-time {
                margin: 0;
                font-size: 0.5em;
                color: #FFFFFB;
                text-align: end;
              }
            }

            .post-sarvis-like {
              display: flex;
              
              .post-servis-content {
                width: 85%;
                margin: 1.5em 1.5em;
              }

              .no-login-like {
                display: flex;
                align-items: flex-end;
                margin: 0% auto;
                padding-bottom: 1.5em;
                .no-heart {
                  height: 1.5em;
                  width: 1.5em;
                  color: #F75C2F;
                }
                .no-login-heart {
                  margin: 0% 0.5em;
                }
              }
            }
          }
        }
      }
      .aside-content {
        order: 1;
      }
    }
  }
  
  //新規投稿ページデザイン
  .post-new {
    font-size: calc(100vw / 32);
    font-family: "游ゴシック体", $font_families;
    margin: 0 1.5em;
    form {
      display: flex;
      flex-direction: column;
      .page-title {
        text-align: center;
        color: #64363C;
      }
      .post-new-catchphrase {
        margin-top: 2em;
        .catchphrase-content {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          .catchphrase-info {
            display: flex;
            align-items: baseline;
            label {
              font-size: 1.3em;
            }
            .info-mandatory {
              margin: 0%;
              color: red;
            }
          }
          .catchphrase-limit {
            .info-limit {
              display: flex; 
              .limit-count {
                margin: 0%;
              }
            }
          }
        }
        .catchphrase-text-in {
          height: 5em;
          .text-in {
            display: flex;
            align-items: center;
            border: 0.3em solid #B47157;
            border-radius: 5px;
            background-color: #FCFAF2; 
            .post-size {
              height: 1.6em;
              width: 1.6em;
              margin: 0.5em;
              color: #C18A26;
            }
            #limit-input {
              height: 100%;
              width: 100%;
              font-size: 1.3em;
              outline: none;
              border: none;
              background: none;
            }:-webkit-autofill {
              animation-name: onAutoFillStart;
              transition: background-color 50000s ease-in-out 0s;
            }
          }
          .error-messages {
            margin: 0%;
            color: red;
          }
        }
      }
      
      .post-new-thumbnail {
        display: flex;
        flex-direction: column;
        .thumbnail-info {
          display: flex;
          align-items: baseline;
          .title-size {
            margin: auto 0;
          }
          .title-name {
            font-size: 1.3em;
            margin: 0%;
          }
          .info-any {
            margin: 0%;
          }
        }
        #thumbnail-img {
          display: flex;
          text-align: center;
          height: 9.4em;
          width: 11.4em;
          margin: 1em auto;
          border: #B47157 dotted 0.2em;
          border-radius: 10px;
          .size {
            margin: auto;
            height: 5em;
            width: 5em;
          }
          ul {
            margin: 0%;
            padding: 0%;
            height: 9em;
            width: 11em;
            li {
              list-style: none;
              img {
                margin: auto;
                height: 9em;
                width: 11em;
                border-radius: 10px;;
                object-fit: cover;
              }
            }
          }
        }
        .thumbnail-content {
          text-align: center;
          .info {
            margin: 0%;
          }
        }
      }

      .post-new-title {
        margin-top: 2em;
        .title-content {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          .title-info {
            display: flex;
            align-items: baseline;
            label {
              font-size: 1.3em;
            }
            .info-mandatory {
              margin: 0%;
              color: red;
            }
          }
          .title-limit {
            .info-limit {
              display: flex;
              .limit-count {
                margin: 0%;
              }
            }
          }
        }
        .title-text-in {
          height: 5em;
          .text-in {
            display: flex;
            align-items: center;
            border: 0.3em solid #B47157;
            border-radius: 5px;
            background-color: #FCFAF2;
            .post-size {
              height: 1.6em;
              width: 1.6em;
              margin: 0.5em;
              color: #C18A26;
            }
            #limit-input {
              height: 100%;
              width: 100%;
              font-size: 1.3em;
              outline: none;
              border: none;
              background: none;
            }:-webkit-autofill {
              animation-name: onAutoFillStart;
              transition: background-color 50000s ease-in-out 0s;
            }
          }
          .error-messages {
            margin: 0%;
            color: red;
          }
        }
      }

      .post-new-category {
        margin-top: 2em;
        .category-info {
          display: flex;
          align-items: baseline;
          .title-size {
            margin: auto 0;
          }
          label {
            font-size: 1.3em;
          }
          .info-mandatory {
            margin: 0%;
            color: red;
          }
        }
        .category-content {
          height: 4em;
          .category-box {
            .form-control {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              padding: 0.5em 1em;
              font-size: 93%;
              align-items: center;
              border-radius: 5px;
              border: 0.3em solid #B47157;
              background-color: #FCFAF2;
            }
          }
          .error-messages {
            margin: 0%;
            color: red;
          }
        }
      }

      .post-new-link {
        margin-top: 2em;
        .link-content {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          .link-info {
            display: flex;
            align-items: baseline;
            label {
              font-size: 1.3em;
            }
            .info-any {
              margin: 0%;
            }
          }
          .link-limit {
            .info-limit {
              display: flex;
              .limit-count {
                margin: 0%;
              }
            }
          }
        }
        .link-text-in {
          height: 5em;
          .text-in {
            display: flex;
            align-items: center;
            border: 0.3em solid #B47157;
            border-radius: 5px;
            background-color: #FCFAF2;
            .post-size {
              height: 1.6em;
              width: 1.6em;
              margin: 0.5em;
              color: #C18A26;
            }
            #limit-input {
              height: 100%;
              width: 100%;
              font-size: 1.3em;
              outline: none;
              border: none;
              background: none;
            }:-webkit-autofill {
              animation-name: onAutoFillStart;
              transition: background-color 50000s ease-in-out 0s;
            }
          }
        }
      }

      .post-new-servis-content {
        margin-top: 2em;
        .servis-content {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          .servis-info {
            display: flex;
            align-items: baseline;
            .title-size {
              margin: auto 0;
            }
            label {
              font-size: 1.3em;
            }
            .info-mandatory {
              margin: 0%;
              color: red;
            }
          }
          .servis-limit {
            .info-limit {
              display: flex;
              .limit-count {
                margin: 0%;
              }
            }
          }
        }
        .servis-text-in {
          .text-in {
            border: 0.3em solid #B47157;
            border-radius: 5px;
            background-color: #FCFAF2;
            #limit-input {
              height: 100%;
              width: 100%;
              font-size: 1.3em;
              outline: none;
              border: none;
              background: none;
            }:-webkit-autofill {
              animation-name: onAutoFillStart;
              transition: background-color 50000s ease-in-out 0s;
            }
          }
          .error-messages {
            margin: 0%;
            color: red;
          }
        } 
      }

      .post-new-evelopment-background {
        margin-top: 2em;
        .evelopment-content {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          
          .evelopment-info {
            display: flex;
            align-items: baseline;

            .title-size {
              margin: auto 0;
            }
            label {
              font-size: 1.3em;
            }
            .info-mandatory {
              margin: 0%;
              color: red;
            }
          }
          .evelopment-limit {
            .info-limit {
              display: flex;
              .limit-count {
                margin: 0%;
              }
            }
          }
        }
        .evelopment-text-in {
          .text-in {
            border: 0.3em solid #B47157;
            border-radius: 5px;
            background-color: #FCFAF2;
            #limit-input {
              height: 100%;
              width: 100%;
              font-size: 1.3em;
              outline: none;
              border: none;
              background: none;
            }:-webkit-autofill {
              animation-name: onAutoFillStart;
              transition: background-color 50000s ease-in-out 0s;
            }
          }
          .error-messages {
            margin: 0%;
            color: red;
          }
        }
      }

      .post-new-button {
        display: block;
        text-align: center;
        button {
          margin: 3em 0;
          font-size: 1.5em;
          padding: 1vh 25vw;
          border: 0;
          border-radius: 1em;
          box-shadow: 0px 1px 0px 1.5px #64363C;
          background: #FFBA84;
        }
      }
    }
  }
}

@media screen and (min-width: $tbMin) and (max-width: $tbMax) {
}

@media screen and (min-width: $pcMin) {
  .main-content {
    font-size: calc(100vw / 96);
    
    .page-logo {
      position: absolute;
      object-fit: cover;
      height: auto;
      width: 100%;
      top: 0%;

      img {
        height: 15em;
        width: 100%;
      }
    }
    .post-contents {
      display: flex;
      font-family: "游ゴシック体", $font_families;
      margin: 1.5em 8em;

      .post-main {
        display: flex;    
        flex-direction: column;
        width: 75%;

        .post-article {
          margin-bottom: 3em;
          border-bottom: #565656 solid 0.1em;

          .post-details {
            display: flex;

            .post-img {
              img {
                height: 15em;
                width: 25em;
                object-fit: cover;
                border-radius: 10px;
              }
            }
            .post-content {
              display: flex;    
              flex-direction: column;
              width: 100%;
              margin: auto;
              margin-left: 1.5em;

              .post-text {
                margin: 0%;
                font-size: 1.3em;
              }
              .post-title {
                text-align: center;
                font-size: 1.6em;
                margin: 1em auto;
              }
              .post-category {
                text-align: center;
                margin-bottom: 0%;
                color: #565656;
                padding: 0.1em 0.25em;
                background: #ffeaea;
                box-shadow: 0em 0em 0em 0.1em #ffeaea;
                border: dashed 0.2em #ffc3c3;
                border-radius: 8px;
              }
            }
          }
          .post-status {
            .post-user {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 1.5em;

              .post-user-img {
                display: flex;

                img {
                  height: 6em;
                  width: 6em;
                  object-fit: cover;
                  border-radius: 50%;
                }
                .post-user-name {
                  margin: auto 1.5em;
                }
              }
              .post-time {
                margin: auto 0%;
                color: #565656;
              }
            }
            .post-sarvis-like {
              display: flex;
              margin-top: 1em;

              .post-servis-content {
                width: 85%;
                margin: 1.5em 1.5em;
              }
              .no-login-like {
                display: flex;
                align-items: flex-end;
                margin: 0% auto;
                padding-bottom: 1.5em;

                .no-heart {
                  height: 1.5em;
                  width: 1.5em;
                  color: #F75C2F;
                }
                .no-login-heart {
                  margin: 0% 0.5em;
                }
              }
            }
          }
        }
      }
      .aside-content {
        width: 25%;
      }
    }
    .page-top.scroll {
      position: sticky;
      height: auto;
      width: 8em;
      bottom: 5em;
      transform: translateY(-1em);
      transition: opacity .3s, transform .3s;
      a {
        display: flex;
        height: 4em;
        width: 4em;
        margin: auto;
        background-color: #FFBA84;
        border-radius: 50%;
        .icon-size {
          margin: auto;
          height: 1.5em;
          width: 1.5em;
          color: #64363C;
        }
      }
    }
  }
}



