$spMax: 519px;
$spMin: 320px;
$tbMax: 1024px;
$tbMin: 520px;
$pcMin: 1025px;

$font_families: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;

@media screen and (min-width: $spMin) and (max-width: $spMax) {
  .main-content {
    font-size: calc(100vw / 32);
    .page-logo {
      img {
        position: absolute;
        top : 0;
        height: 12vh;
        width: 100%;
        margin-bottom: 12vh;
      }
      h1 {
        position: absolute;
        font-family: 'Philosopher', $font_families;
        top: 0;
        margin: 1vh 2vw;
        font-size: 2.5vh;
      }
    }
    .post-contents {
      font-family: "游ゴシック体", $font_families;
      margin: auto 6vw;
      display: flex;    
      flex-direction: column;

      .post-main {
        order: 2;
        .post-article {
          margin-top: 2.5vh;
          border-bottom: 0.2vh solid #F75C2F;

          .post-details {
            display: flex;
            .post-img {
              img {
                height: 9em;
                width: 11em;
                object-fit: cover;
                border-radius: 10px;
              }
            }
            
            .post-content {
              width: 100%;
              margin-left: 1em;
              display: flex;
              flex-direction: column;
              
              .post-text {
                font-size: 0.9em;
                margin-top: 0.3em;
                margin-bottom: 0%;
              }
              .post-title {
                text-align: center;
                font-feature-settings: "palt" 1;
                font-size: 1.3em;
                margin: 0.5em auto;
                
              }
              .post-category {
                text-align: center;
                font-size: 0.8em;
                margin-top: 0.25em;
                margin-bottom: 0%;
                color: #565656;
                padding: 0.1em 0.25em;
                background: #ffeaea;
                box-shadow: 0em 0em 0em 0.1em #ffeaea;
                border: dashed 0.2em #ffc3c3;
                border-radius: 8px;
              }

              .post-time {
                margin-top: auto;
                margin-bottom: 0%;
                font-size: 0.5em;
                color: #FFFFFB;
                text-align: end;
              }
            }
          }
          .post-status {
            .post-user {
              display: flex;
              margin-top: 0.5em;

              img {
                height: 3em;
                width: 3em;
                border-radius: 50%;
                object-fit: cover;
              }
              .post-user-name {
                margin: auto 0.5em;
              }
            }

            .post-sarvis-like {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;

              .post-servis-content {
                width: 80%;
                margin-left: 0.5em;
              }
              button {
                margin: auto 0%;
              }
            }
          }
        }
      }
      .aside-content {
        order: 1;
      }
    }
  }
}

@media screen and (min-width: $tbMin) and (max-width: $tbMax) {
}
@media screen and (min-width: $pcMin) {
}


