$spMax: 519px;
$spMin: 320px;
$tbMax: 1024px;
$tbMin: 520px;
$pcMin: 1025px;

$font_families: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;

@media screen and (min-width: $spMin) and (max-width: $spMax) {
}

@media screen and (min-width: $tbMin) and (max-width: $tbMax) {
}

@media screen and (min-width: $pcMin) {
  .postShow-page {
    font-size: calc(100vw / 96);
    font-family: "游ゴシック体", $font_families;
    display: flex;
    flex-direction: column;

    .postShow-main-content {
      display: flex;
      padding: 1em 0;

      .postShow-article-area {
        display: flex;
        flex-direction: column;
        background-color: #FAD689;
        margin: 0 2.5em 0 5em;
        padding: 0 2em 2em 2em;
        height: fit-content;
        width: 70%;
        border: #FAD689 solid .25em;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
        border-radius: 20px;

        .postShow-article-postArea {
          display: flex;
          flex-direction: column;

          .postShow-postEdit-content {
            display: flex;
            align-items: center;
            margin: .5em 0 .5em auto;

            .postShow-postEdit-link {
              text-decoration: none;
              border: 0.2em solid #565656;
              border-radius: 10px;
              font-size: 1em;
              color: #565656;
              padding: .1em 1em;
              transition: .4s;
              box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
              margin: 0% 2em;

              &:hover {
                color: white;
                background-color: #565656;
                border-radius: 10px;
              }
            }
            .postShow-post-destroy {
              display: flex;
              outline: none;
              background-color: transparent;
              border: 0.2em solid #F75C2F;
              box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
              border-radius: 10px;
              padding: .3em 1em;

              .icon-size {
                color: #F75C2F;
                height: 1.1em;
                width: 1.1em;
              }
            }
          }
          .postShow-post-content {
            display: flex;
            flex-direction: column;
            border-bottom: #565656 .1em solid;

            .postShow-post-firstInformation {
              display: flex;
              flex-direction: column;

              .postShow-post-catchphrase-content {
                display: flex;
                flex-direction: column;
                margin-top: 1em;

                .postShow-post-catchphrase-info {
                  display: flex;
                  align-items: center;

                  .icon-size {
                    color: #C18A26;
                    height: 1.1em;
                    width: 1.1em;
                  }
                  .postShow-post-catchphrase-text {
                    font-size: 1.2em;
                    text-decoration: underline;
                    text-decoration-color: #C18A26;
                  }
                }
                .postShow-post-catchphrase {
                  font-size: 1.3em;
                  margin: .8em auto .8em 2em;
                }
              }
            }
            .postShow-post-secondInformation {
              display: flex;

              .postShow-post-thumbnailImg-content {
                display: flex;

                .postShow-post-thumbnailImg {
                  object-fit: cover;
                  height: 15em;
                  width: 23em;
                  border-radius: 5px;
                  border: solid #C18A26;
                }
              }
              .postShow-post-title-category-content {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: auto 1em;

                .postShow-post-title-content {
                  display: flex;
                  flex-direction: column;

                  .postShow-post-title-info {
                    display: flex;
                    align-items: center;

                    .icon-size {
                      color: #C18A26;
                      height: 1em;
                      width: 1em;
                    }
                    .postShow-post-title-text {
                      font-size: 1.1em;
                      text-decoration: underline;
                      text-decoration-color: #C18A26;
                    }
                  }
                  .postShow-post-title-link {
                    text-align: center;
                    color: #006284;
                    font-size: 1.2em;
                    margin: .8em;
                  }
                }
                .postShow-post-category-content {
                  display: flex;
                  flex-direction: column;

                  .postShow-post-category-info {
                    display: flex;
                    align-items: center;

                    .icon-size {
                        color: #C18A26;
                        height: 1em;
                        width: 1em;
                    }
                    .postShow-post-category-text {
                      font-size: 1.1em;
                      text-decoration: underline;
                      text-decoration-color: #C18A26;
                    }
                  }
                  .postShow-post-category {
                    text-align: center;
                    color: #565656;
                    padding: .05em 1em;
                    background: #ffeaea;
                    border: dashed .2em #ffc3c3;
                    border-radius: 8px;
                    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
                    font-size: 1.2em;
                    margin: .8em;
                  }
                }
              }
            }
            .postShow-post-thirdInformation {
              display: flex;
              flex-direction: column;

              .postShow-post-servisContent-info {
                display: flex;
                align-items: center;
                margin-top: 1em;

                .icon-size {
                  color: #C18A26;
                  height: 1em;
                  width: 1em;
                }
                .postShow-post-servisContent-text {
                  font-size: 1.1em;
                  text-decoration: underline;
                  text-decoration-color: #C18A26;
                }
              }
              .postShow-post-servisContent {
                font-size: 1.2em;
                margin: .8em auto .8em 2em;
              }
            }
            .postShow-post-fourthInformation {
              display: flex;

              .postShow-post-evelopmentBackground-content {
                display: flex;
                flex-direction: column;
                width: 90%;

                .postShow-post-evelopmentBackground-info {
                  display: flex;
                  align-items: center;
                  margin-top: 1em;

                  .icon-size {
                    color: #C18A26;
                    height: 1em;
                    width: 1em;
                  }
                  .postShow-post-evelopmentBackground-text {
                    font-size: 1.1em;
                    text-decoration: underline;
                    text-decoration-color: #C18A26;
                  } 
                }
                .postShow-post-evelopmentBackground {
                  font-size: 1.2em;
                  margin: .8em auto .8em 2em;
                }
              }
              .postShow-post-like-content {
                display: flex;
                width: 10%;
              }
            }
          }
        }
        .postShow-articlePost-userArea {
          display: flex;
          margin: 1em 10em;
          border: .2em solid #C18A26;
          border-radius: 8px;

          .postShow-postUser-avatarImg-content {
            display: flex;

            .postShow-userShow-link {
              display: flex;
              align-items: center;

              .postShow-postUser-avatarImg {
                object-fit: cover;
                height: 7em;
                width: 7em;
                border-radius: 50%;
                border: solid #F75C2F;
                margin: 1em 1.5em;
              }
            }
          }
          .postShow-postUser-profile-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 1em .5em;

            .postShow-postUser-profile-info {
              text-decoration: underline;
              text-decoration-color: #C18A26;
            }
            .postShow-postUser-name {
              text-align: center;
              font-size: 1.3em;
              margin-top: .8em;
            }
            .postShow-postUser-industry {
              text-align: center;
              color: #565656;
              padding: .05em 1em;
              background: #FBE251;
              border: dashed .2em #E9CD4C;
              border-radius: 8px;
              box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
              font-size: 1.1em;
              margin: .8em 2em 0 2em;
            } 
          }
        }
        .postShow-article-commentArea {

        }
      }
      .postShow-aside-area {
        display: flex;
        flex-direction: column;
        background-color: #FAD689;
        border: #FAD689 solid .25em;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
        border-radius: 20px;
        position: sticky;
        height: fit-content;
        width: 30%;
        bottom: 5.5em;
        padding: 0 1em;
        margin: auto 5em 0 1em;

        .postShow-search-category {
          display: flex;
          flex-direction: column;

          .postShow-category-areaTitle {
            display: flex;
            align-items: center;
            margin-top: 1.5em;

            .icon-size {
              color: #F75C2F;
            }
            .postShow-category-title-text {
              text-decoration: underline;
              text-decoration-color: #C18A26;
              font-size: 1.2em;
              margin: 0%;
            }
          }
          .category-search-form {
            display: flex;
            margin: 1em auto;

            #category_keyword {
              display: flex;
              background-color: white;
              padding: 0.3em;
              border: 0.2em solid #F75C2F;
              border-radius: 10px;
            }
            .posts-search-button {
              outline: none;
              background-color: transparent;
              border: 0.2em solid #F75C2F;
              margin: 0 auto 0 .5em;
              border-radius: 10px;
              font-size: 1em;
              color: #F75C2F;
              padding: 0% .5em;
              transition: .4s;
              box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);

              &:hover {
                color: white;
                background-color: #F75C2F;
                border-radius: 10px;
              }
            }
          }
        }
        .postShow-search-create {
          display: flex;
          flex-direction: column;
          margin-top: 3em;
        }
        .postShow-search-like {
          display: flex;
          flex-direction: column;
          margin-top: 5em;
          margin-bottom: 1.5em;
        }
      }
    }
  }
}