$spMax: 519px;
$spMin: 320px;
$tbMax: 1024px;
$tbMin: 520px;
$pcMin: 1025px;
$font_families: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;


@media screen and (min-width: $spMin) and (max-width: $spMax) {
}

@media screen and (min-width: $tbMin) and (max-width: $tbMax) {
}

@media screen and (min-width: $pcMin) {
  .signup-page {
    font-size: calc(100vw / 96);
    font-family: "游ゴシック体", $font_families;
    display: flex;
    flex-direction: column;

    .new_user {
      display: flex;
      flex-direction: column;
      background-color: #FAD689;
      width: 60em;
      height: 40em;
      margin: 1em auto;
      border: #FAD689 solid .25em;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
      border-radius: 20px;

      .signup-page-title {
        text-align: center;
        color: #0F2540;
        font-size: 1.5em;
      }

      .signup-form {
        display: flex;
        justify-content: space-around;
        
        .signup-mandatory-form {
          display: flex;
          flex-direction: column;
          width: 22em;

          .signup-name-form {
            display: flex;
            flex-direction: column;
            height: 5.7em;
            margin-bottom: 1.5em;

            .signup-name-info {
              display: flex;
              align-items: baseline;
              height: 1.4em;

              .signup-item-name {
                font-size: 1.1em;
              }
              .field_with_errors {
                display: flex;
                height: 1.4em;

                .signup-item-name {
                  font-size: 1.1em;
                }
              }
              .signup-item-mandatory {
                font-size: 0.6em;
                color: red;
              }
              .signup-item-info {
                display: flex;
                font-size: 0.6em;
                margin-left: auto;

                #name-count {
                  font-size: 0.6em;
                  margin: 0%;
                }
              }
            }
            .signup-name-input {
              display: flex;
              background-color: white;
              padding: 0.3em;
              border: 0.2em solid #B47157;
              border-radius: 10px;

              .icon-size {
                height: 1.1em;
                width: 1.1em;
                margin: auto .3em;
                color: #F75C2F;
              }
              #user_name {
                outline: none;
                border: none;
                box-shadow: 0 0 0 1000px white inset;
                font-size: 1.1em;
                width: 100%;
              }
              .field_with_errors {
                display: flex;
                width: 100%;

                #user_name {
                  outline: none;
                  border: none;
                  box-shadow: 0 0 0 1000px white inset;
                  font-size: 1.2em;
                }
              }
            }
            .signup-name-error {
              display: flex;

              .error-messages {
                font-size: .8em;
                color: red;
              }
            }
          }
          .signup-email-form {
            display: flex;
            flex-direction: column;
            height: 5.7em;
            margin-bottom: 1.5em;

            .signup-email-info {
              display: flex;
              align-items: baseline;
              height: 1.4em;

              .signup-item-email {
                font-size: 1.1em;
              }
              .field_with_errors {
                display: flex;
                height: 1.4em;

                .signup-item-email {
                  font-size: 1.1em;
                }
              }
              .signup-item-mandatory {
                font-size: 0.6em;
                color: red;
              }
              .signup-item-info {
                display: flex;
                flex-direction: column;
                margin-left: auto;

                .info-text {
                  font-size: 0.6em;
                }
              }
            }
            .signup-email-input {
              display: flex;
              background-color: white;
              padding: 0.3em;
              border: 0.2em solid #B47157;
              border-radius: 10px;

              .icon-size {
                height: 1.1em;
                width: 1.1em;
                margin: auto .3em;
                color: #F75C2F;
              }
              #user_email {
                outline: none;
                border: none;
                box-shadow: 0 0 0 1000px white inset;
                font-size: 1.1em;
                width: 100%;
              }
              .field_with_errors {
                #user_email {
                  outline: none;
                  border: none;
                  box-shadow: 0 0 0 1000px white inset;
                  font-size: 1.2em;
                  width: 100%;
                }
              }
            }
            .signup-email-error {
              display: flex;

              .error-messages {
                font-size: .8em;
                color: red;
              }
            }
          }
          .signup-password-form {
            display: flex;
            flex-direction: column;
            height: 5.7em;
            margin-bottom: 1.5em;

            .signup-password-info {
              display: flex;
              align-items: baseline;
              height: 1.4em;

              .signup-item-password {
                font-size: 1.1em;
              }
              .field_with_errors {
                display: flex;
                height: 1.4em;

                .signup-item-password {
                  font-size: 1.1em;
                }
              }
              .signup-item-mandatory {
                font-size: 0.6em;
                color: red;
              }
              .signup-item-info {
                display: flex;
                font-size: 0.6em;
                margin-left: auto;
              }
            }
            .signup-password-input {
              display: flex;
              background-color: white;
              padding: 0.3em;
              border: 0.2em solid #B47157;
              border-radius: 10px;

              .icon-size {
                height: 1.1em;
                width: 1.45em;
                margin: auto .3em;
                color: #F75C2F;
              }
              #user_password {
                outline: none;
                border: none;
                box-shadow: 0 0 0 1000px white inset;
                font-size: 1.1em;
                width: 100%;
              }
              #btn_passview {
                outline: none;
                border: none;
                background-color: transparent;
                width: 5em;
              }
              .field_with_errors {
                display: flex;
                width: 100%;

                #user_password {
                  outline: none;
                  border: none;
                  box-shadow: 0 0 0 1000px white inset;
                  font-size: 1.2em;
                }
              }
            }
            .signup-password-error {
              display: flex;
              .error-messages {
                font-size: .8em;
                color: red;
              }
            }
          }
          .signup-password-confirmation-form {
            display: flex;
            flex-direction: column;
            height: 5.7em;

            .signup-password-confirmation-info {
              display: flex;
              align-items: baseline;
              height: 1.4em;

              .signup-item-password-confirmation {
                font-size: 1.1em;
              }
              .field_with_errors {
                display: flex;
                height: 1.4em;

                .signup-item-password-confirmation {
                  font-size: 1.1em;
                }
              }
              .signup-item-mandatory {
                font-size: 0.6em;
                color: red;
              }
              .signup-item-info {
                display: flex;
                font-size: 0.6em;
                margin-left: auto;
              }
            }
            .signup-password-confirmation-input {
              display: flex;
              background-color: white;
              padding: 0.3em;
              border: 0.2em solid #B47157;
              border-radius: 10px;

              .icon-size {
                height: 1.1em;
                width: 1.1em;
                margin: auto .3em;
                color: #F75C2F;
              }
              #user_password_confirmation {
                outline: none;
                border: none;
                box-shadow: 0 0 0 1000px white inset;
                font-size: 1.1em;
                width: 100%;
              }
              .field_with_errors {
                width: 100%;
                
                #user_password_confirmation {
                  outline: none;
                  border: none;
                  box-shadow: 0 0 0 1000px white inset;
                  font-size: 1.2em;
                }
              }
            }
            .signup-password-confirmation-error {
              display: flex;

              .error-messages {
                font-size: .8em;
                color: red;
              }
            }
          }
        }
        .signup-any-form {
          display: none;
          flex-direction: column;
          justify-content: space-between;
          animation: SlideIn 1.5s;
          width: 22em;
          @keyframes SlideIn {
            0% {
              opacity: 0;
              transform: translateX(-30px);
            }
            100% {
              opacity: 1;
              transform: translateX(0);
            }
          }

          .signup-avatar-img-form {
            display: flex;
            flex-direction: column;

            .signup-avatar-img-info {
              display: flex;
              align-items: center;

              .icon-size {
                height: 1.1em;
                width: 1.1em;
                margin: auto .2em auto 0;
              }
              .signup-avatar-img-name {
                display: flex;
                align-items: baseline;

                .signup-avatar-img-title {
                  font-size: 1.1em;
                }
                .signup-item-any {
                  font-size: 0.6em;
                }
              }
            }
            .signup-avatar-file {
              display: flex;
              height: 6em;
              margin: .5em auto;

              .signup-item-avatar-img {
                display: flex;

                .size {
                  height: 6em;
                  width: 6em;
                  border: dashed #F75C2F;
                  border-radius: 50%;
                  padding: 1.5em;
                }
                ul {
                  padding: 0%;
                  margin: 0%;

                  li {
                    list-style: none;

                    img {
                      object-fit: cover;
                      height: 6em;
                      width: 6em;
                      border-radius: 50%;
                      border: solid #F75C2F;
                    }
                  }
                }
              }
            }
            .signup-avatar-img-input {
              margin: 0 auto;
            }
            .signup-avatar-img-note {
              display: flex;
              flex-direction: column;
              margin: 0 auto;

              .signup-item-info {
                font-size: 0.6em;
              }
            }
          }
          .signup-industry-form {
            display: flex;
            flex-direction: column;
            margin: 1em 0;

            .signup-industry-info {
              display: flex;
              align-items: center;

              .icon-size {
                height: 1.1em;
                width: 1.1em;
                margin: auto .2em auto 0;
              }
              .signup-industry-name {
                display: flex;
                align-items: baseline;

                .signup-item-industry {
                  font-size: 1.1em;
                }
                .signup-item-any {
                  font-size: 0.6em;
                }
              }
            }
            .signup-industry-input {
              display: flex;
              flex-direction: column;

              #user_profile_attributes_industry {
                display: flex;
                margin: 1em auto; 
                background-color: white;
                padding: 0.3em;
                border: 0.2em solid #B47157;
                border-radius: 10px;
              }
            }
          }
          .signup-self-introduction-form {
            display: flex;
            flex-direction: column;
            height: 7.37em;

            .signup-self-introduction-info {
              display: flex;
              align-items: baseline;
              height: 1.4em;

              .icon-size {
                display: flex;
                height: 1.1em;
                width: 1.1em;
                margin: auto .2em 0 0;
               
              }
              .signup-item-self-introduction {
                font-size: 1.1em;
              }
              .signup-item-any {
                font-size: 0.6em;
              }
              .signup-item-info {
                display: flex;
                font-size: 0.6em;
                margin-left: auto;
      
                #self-introduction-count {
                  font-size: 0.6em;
                  margin: auto;
                }
              }
            }
            .signup-self-introduction-input {
              display: flex;
              background-color: white;
              padding: 0.3em;
              border: 0.2em solid #B47157;
              border-radius: 10px;

              #self-introduction-input {
                outline: none;
                border: none;
                box-shadow: 0 0 0 1000px white inset;
                font-size: 1em;
                width: 100%;
              }
            }
            .signup-self-introduction-error {
              display: flex;
              
              .error-messages {
                font-size: .8em;
                color: red;
              }
            }
          }
        }  
      }
      .signup-any-form-check {
        display: flex;
        align-items: center;
        margin: 0 auto 1em auto;

        #check1 {
          margin-right: .5em;
        }
        .check-text {
          color: #0F2540;
        }
      }
      .signup-form-button {
        display: flex;
        margin: 0 auto;

        .signup-button {
          outline: none;
          background-color: transparent;
          border: 0.2em solid #F75C2F;
          border-radius: 10px;
          font-size: 1.3em;
          color: #F75C2F;
          padding: 0% 2em;
          transition: .4s;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
          
          &:hover {
            color: white;
            background-color: #F75C2F;
            border-radius: 10px;
          }
        }
      }
      .other-link {
        display: flex;
        justify-content: space-around;
        
        .session-link {
          .icon-size {
            color: #64363C;
          }
          .session-signin {
            color: #0F2540;
          }
        }
        .guest-link {
          .icon-size {
            color: #F75C2F;
          }
          .guest-signin {
            color: #0F2540;
          }
        }
      }
    }
  }
}