$spMax: 519px;
$spMin: 320px;
$tbMax: 1024px;
$tbMin: 520px;
$pcMin: 1025px;

@media screen and (min-width: $spMin) and (max-width: $spMax) {
  .user-profile { //ユーザー詳細画面
    font-size: calc(100vw / 32);
    font-family: "游ゴシック体", sans-serif;
    .user-field {
      background-color: aliceblue;
      padding: 0 6vw;
      .user-button {
        display: flex;
        justify-content: space-between;
        padding-top: 3vh;
        a {
          text-decoration: none;
        }
      }
      .user-img {
        text-align: center;
        img {
          width: 135px;
          height: 135px;
          margin-top: 3vh;
          margin-bottom: 0;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .user-name {
        text-align: center;
        padding-top: 1vh;
        padding-bottom: 2vh;
        p {
          font-size: 1.5em;
          margin: 0;
        }
      }
      .user-introduction {
        text-align: center;
        padding-top: 2.5vh;
        padding-bottom: 5vh;
        p {
          text-align: start;
          margin: 0;
        }
      }
    }
  }
  .user-edit { //ユーザー編集画面
    form {
      font-size: calc(100vw / 32);
      font-family: "游ゴシック体", sans-serif;
      margin: auto 6vw;
      h1 {
        text-align: center;
        margin: 1vh 0vw;
        color: #64363C;
      }
      .name-edit {
        .name-field {
          margin-top: 2.5vh;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          label {
            display: block;
            font-size: 1.5em;
            color: #0F2540;
          }
          .field_with_errors {
            label {
              display: block;
              font-size: 1.5em;
              color: #0F2540;
            }
          }
          .count-info {
            display: block;
            font-size: 1em;
            span {
              display: inline-flex;
              font-size: 1em;
              padding-bottom: 0.2vh;
              #name-count {
                margin: 0%;
              }
            }
          }
        }
        .edit-input {
          height: 8vh;
          .edit-text {
            height: 6vh;
            display: flex;
            align-items: center;
            background-color: #FFFFFB;
            border: 0.4vh solid #B47157;
            border-radius: 5px;
            .edit-icon {
              height: 3vh;
              width: 6vw;
              margin: auto 3vw;
              color: #F75C2F;
            }
            #name-input {
              border: 0;
              outline: none;
              font-size: 1.5em;
            }
            .field_with_errors {
              #name-input {
                border: 0;
                outline: none;
                font-size: 1.5em;
              }
            }
          }
          .error-messages {
            margin: 0%;
            color: red;
          }
        }
      }
      .email-edit {
        .email-field {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          label {
            font-size: 1.5em;
            color: #0F2540;
          }
          .field_with_errors {
            label {
              font-size: 1.5em;
              color: #0F2540;
            }
          }
          .text-info {
            .info {
              margin: 0%;
            }
            .info-address {
              margin: 0%;
              padding-bottom: 0.2vh;
            }
          }
        }
        .edit-input {
          height: 8vh;
          margin-bottom: 3vh;
          .edit-text {
            height: 6vh;
            display: flex;
            align-items: center;
            background-color: #FFFFFB;
            border: 0.4vh solid #B47157;
            border-radius: 5px;
            .edit-icon {
              height: 3vh;
              width: 6vw;
              margin: auto 3vw;
              color: #F75C2F;
            }
            #user_email {
              border: 0;
              outline: none;
              font-size: 1.5em;
            }
            .field_with_errors {
              #user_email {
                border: 0;
                outline: none;
                font-size: 1.5em;
              }
            }
          }
          .error-messages {
            margin: 0%;
            color: red;
          }
        }
      }
      .icon-edit {
        margin-bottom: 3vh;
        .edit-title {
          display: flex;
          align-items: center;
          .title-img {
            height: 3vh;
            width: 5vw;
          }
          p {
            margin: 0%;
            font-size: 1.5em;
            color: #0F2540;
          }
        }
        .icon-input {
          text-align: center;
          #file-list {
            .size {
              height: auto;
              width: 16vw;
              margin-top: 2.5vh;
              margin-bottom: 1.5vh;
            }
            ul {
              text-align: center;
              padding: 0;
              li {
                list-style: none;
                height: auto;
                margin-top: 2.5vh;
                margin-bottom: 1.5vh;
                img {
                  border-radius: 50%;
                  object-fit: cover;
                }
              }
            }
          }
          .file-info {
            input {
              font-family: "游ゴシック体", sans-serif;
              color: #0F2540;
            }
            .info {
              margin: 0%;
            }
          }
        }
      }
      .introduction-edit {
        .introduction-field {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          .edit-text {
            .title-img {
              font-size: 2vh;
            }
            label {
              font-size: 1.5em;
              color: #0F2540;
            }
          }
          .count-info {
            span {
              display: flex;
              p {
                margin: 0%;
              }
            }
          }
        }
        .edit-input {
          #introduction-input {
            width: 100%;
            height: 15vh;
            border: 0.4vh solid #B47157;
            border-radius: 5px;
            font-size: 1.5em
          }
        }
      }
      .button-edit {
        text-align: center;
        button {
          border: 0;
          margin-top: 6vh;
          margin-bottom: 5vh;
          padding: 1vh 20vw;
          font-size: 1.5em;
          border-radius: 1em;
          background: #FFBA84;
          color: #64363C;
          box-shadow: 0px 1px 0px 1.5px #64363C;
        }
      }
    }
    .button-action {
      display: flex;
      font-size: calc(100vw / 32);
      font-family: "游ゴシック体", sans-serif;
      margin: auto 6vw;
      margin-bottom: 3vh;
      justify-content: space-between;
      a {
        text-decoration: none;
      }
      .back-button {
        text-decoration: none;
        border-bottom: 0.1vh solid #F75C2F;
        padding: 0 2vw;
      }
    }
  }
}

@media screen and (min-width: $tbMin) and (max-width: $tbMax) {

}

@media screen and (min-width: $pcMin) {

}
