<!DOCTYPE html>
<html lang="ja">
  <section class="main-content">
    <div class="page-logo" id="logo" >
      <img src="/assets/page_logo.jpg" art="本のロゴ">
      <h1>portfolios~museum</h1>
    </div>

    <div class="post-content">
      <article class="article-content">
        <%= render partial: 'posts/article' %> 
      </article>

      <aside class="aside-content">
        <%= render partial: 'posts/aside' %>
      </aside>
    </div>

    <div class="page-top">
      <a href="#">
        <i class="fas fa-arrow-up icon-size"></i>
      </a>
    </div>
    <%= javascript_pack_tag "user_scroll.js" %>
    <%= javascript_pack_tag "like.js" %>
  </section>

  <%# <button type="button" id="button_get">Fetch API : GET</button> %>
  

  <%# <script>
    const button_get = document.getElementById('button_get');
    button_get.addEventListener('click',function () {
      fetch('/users', {
        mode: 'cors',
        method: 'GET'
      })
      .then(function(response) {
        const response_message = response.status + ':' + response.statusText
        console.log(response_message);
        window.alert('response_message=' + response_message);
      });
    });
  </script> %>
  
</html>