<!DOCTYPE html>
<html lang="ja">
  <section class="main-content">
    <div class="page-logo" id="logo" >
      <img src="/assets/page_logo.jpg" art="本のロゴ">
      <h1>portfolios~museum</h1>
    </div>

    <div class="post-content">
      <article class="article-content">
        <p>こんにちは</p>
      </article>

      <aside class="aside-content">
        <p>こんばんわ</p>
      </aside>
    </div>

    <div class="page-top">
      <a href="#">
        <i class="fas fa-arrow-up icon-size"></i>
      </a>
      <%= javascript_pack_tag "scroll_top.js" %>
    </div>
  </section>
</html>