<main>
  <div class="main-content">
    <div class="article-content">
      <section class="section-item">
      
      </section>
    </div>

    <div class="aside-content">
      <aside class="aside-item">
       
      </aside>
    </div>
  </div>
</main>
