<!DOCTYPE html>
<html lang="ja">
  <section class="main-content">
    <div class="page-logo" id="logo" >
      <img src="/assets/page_logo.jpg" art="本のロゴ">
      <%# <h1>portfolios~museum</h1> %>
    </div>

    <div class="post-contents">
      <article class="post-main">
        <%= render partial: 'posts/article' %> 
      </article>

      <aside class="aside-content">
        <%= render partial: 'posts/aside' %>
      </aside>
    </div>

    <div class="page-top">
      <a href="#">
        <i class="fas fa-arrow-up icon-size"></i>
      </a>
    </div>
    <%= javascript_pack_tag "user_scroll.js" %>
    <%= javascript_pack_tag "like.js" %>
  </section>
</html>